html{
    scroll-behavior: smooth;
}

body{
    background-color: #fbf8f3;
}

.shopname{
    text-align: center;
    font-style: italic;
}

.container{
    display: flex;
    width: 100%;
    overflow-x: auto;
    background-color: #232323;
}

b{
    font-size: 0.7rem;
}

.container .item{
   padding: 20px;
   text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.outerbox{
    background-color: #fbf8f3;
}

.juice{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.juiceitems{
    text-align: center;
}

.juiceimg{
    border-radius: 30px;
    height: 150px;
    width: 150px;
    padding: 0.5rem;
}

strong{
    font-size: 0.9rem;
}